@media screen and (max-width: 800px) {

    .maintext {
        font-size: 12px;
        margin: 2px;

    }
    body {
        margin-left: 0px;
        margin-right: 0px;
      }
      .beans {
        top: -50px;
        right: 0px;

    }
}

@media screen and (max-width: 670px) {
    .contentbox {
        height: 250px;
    }
    .mainimg {
        float: none;
    }



}


@media screen and (max-width: 600px) {

    .hero-image {
        height: 300px;
    }

footer {
    font-size: 12px;
}
}

@media screen and (max-width: 500px) {
    .hero-image {
        height: 250px;
    }
    #open_dialog {
        font-size: 13px;
        width: calc(35px * var(--ratio));
        height: 35px;
    }

    
li a {
    padding: 10px 30px;

}
 .contentbox {
    height: 225px;
    padding: 15px;
}
.allcontents {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

.mainimg {
    width: 175px;
}
.beans {
    top: -50px;
    right: 0px;
    width: 75px;
    height: 75px;
}

footer {
    font-size: 10px;
    padding: 10px;
}
}

@media screen and (max-width: 430px) {
    .hero-image {
        height: 200px;
    }


    .logo {
        width: 30px;
    }

    li a {
        padding: 10px 20px;
        font-size: 15px;
    
    }
    h3 {
        font-size: 13px;
    }
    
    h4 {
        font-size: 1px;
    }
    .maintext {
        font-size: 9px;

    }


}