dialog::backdrop {
    backdrop-filter: blur(10px);
  }
      button {
        border: 2px solid var(--caf-noir);
        display: block;
        margin-top: 2rem;
        width: calc(36px * var(--ratio));
        height: 36px;
        border-radius: calc(3px * var(--ratio));
        letter-spacing: calc(3 * var(--leading, 0.025em));
        font-family: inherit;
        color: var(--raw-umber);
        background-color: var(--light-color-bg);
        font-size: large;
        font-weight: 700;
      }
      
      button:focus {
        outline: none;
        border: 0.0625rem solid transparent;
        box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
      }
      
      button.cta {
        background-color: var(--cta-color);
        color: white;
      }
      
      button.cta:focus {
        box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
      }
      
      #open_dialog {
        margin: 0 auto;
      }
      
      dialog {
        border: none !important;
        border-radius: calc(5px * var(--ratio));
        box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        padding: 1.6rem;
        max-width: 400px;
      }
      
      dialog img {
        display: block;
        max-width: 75%;
        margin: 1rem 0 auto 2rem;
      }
      
      .h1 {
        margin: 2rem 0 1rem;
        font-weight: 900;
      }
      
      .h2 {
        margin: 2rem 0 1rem;
        font-weight: 800;
      }
      
      p {
        color: var(--grey-color);
        letter-spacing: var(--leading, 0.025em);
        line-height: 1.625;
      }
      
      .flex {
        display: flex;
        flex-wrap: wrap;
      }
      
      .flex.flex-space-between {
        justify-content: space-between;
      }
      
      .flex button {
        margin: 8px auto;
      }


        dialog h3 {
          text-align: center;
          margin-top: 10px;
        }
        #coffeeGif {
          width: 100px;
          height: 100%;
          margin: auto;
        }

        .userForm {
          margin: 30px;
        }
        .userForm input {
          width: 90%;
          margin: 0px;
          padding: 10px;
          border: 1px solid black;
          border-left: 10px solid;
          background-color: white;

          transition: border-color 1s;
        }

        .userForm input:invalid {
          border-left-color: rgba(255, 42, 0, 0.463);
          
        }
        .userForm input:valid {
          
          border-left-color: lightgreen;
          
        }

        .userForm input:focus {
          background-color: lightgoldenrodyellow;
        }
        .dialogField {
          margin: 10px auto;
          font-weight: bold;
        }
        #dialogContent {
          border: 3px solid var(--caf-noir);
          padding: 5px;
          border-radius: 10px;
        }

        #confirm_dialog {
          background-color: var(--raw-umber);
        }
