

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root {
--bistre: #2D1B11ff;
--caf-noir: #573726ff;
--smoky-black: #14100Dff;
--raw-umber: #905732ff;
--lion: #C5965Cff;
}
body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

nav {
    margin-top: 0px;
    margin-bottom: 40px;

}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--lion);
    border-radius: 7px;
    
  }
  li {
    float: left;
    display: inline;
    height: 45px;
 
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    height: 100%;
  }

  li a:hover {
    background-color: var(--raw-umber);
  }
.contentbox {

    padding: 20px;
    width: 100%;
    height: 200px;
    margin: 150px auto 0px;
    background-image: url("img/coffee-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
   /* overflow: hidden;*/
    }

.logo {
  width: 50px;
  
}


h3 {
    margin: 0px;
}
h4 {
    margin: 0px;
    color: gray;
}
.maintext {
    font-size: small;
    margin: 2px;
}


.mainimg {
    width: 200px;
    height: auto;
    float: left;
    margin: 0 15px;
    border-radius: 15px;
    }
footer {
    position: relative;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    margin: auto;
    background-color: var(--raw-umber)  }

    .beans {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -40px;
        right: -10px;
        overflow: visible;

      }

      .allcontents {
        margin: 0;
         position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .container {
        position: relative;
    }

